# Generated data — never commit CSVs
sample_data/*.csv

# Python
__pycache__/
*.pyc
*.pyo
gx_env/
venv/
.env

# Great Expectations uncommitted
great_expectations/uncommitted/

# OS
.DS_Store

# IDE
.vscode/
.idea/
